* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: sans-serif;
    font-size: 4em;
    font-weight: normal;
    margin: .5em 0;
}

img {
    width: 10%;
}

/* Create Todo */
#create-container {
    background-color: ghostwhite;
    height: auto;
    width: 33%;
    margin: 0 auto;
    padding: .5em;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
}

#create-container input, textarea {
    width: 80%;
}

/* Display Todos */
#show-container {
    background-color: ghostwhite;
    height: auto;
    width: 90%;
    margin: .5em auto;
    padding: 1em;
    border-radius: .5em;
}

#show-labels-container {
    padding: .5em;
    display: flex;
    justify-content: space-between;
}

.show-label {
    width: 20%;
}

.todo-container {
    padding: .5em;
    display: flex;
    justify-content: space-between;
}

.todo-item {
    width: 20%;
}

.name {
    text-align: left;
    width: 15%;
}

.description {
    width: 30%;
}

.edit {
    text-align: right;
}

.date, .completed {
    width: 10%;
}

/* Edit */
*:focus {
    outline: none;
}

details>summary {
    cursor: pointer;
}

details>summary::-webkit-details-marker {
  display: none;
}

details[open] {
    background-color: rgba(0, 0, 0, 0.4);
    color: ghostwhite;
    padding: .5em;
}

details>form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

details label {
    text-align: left;
}

details input, details textarea {
    width: 100%;
}

#edit-todo-button, #delete-button {
    cursor: pointer;
}

#delete-button {
    background-color: rgba(255, 0, 0, 0.5);
    margin-top: .5em;
}
