* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: sans-serif;
    font-size: 4em;
    font-weight: normal;
    margin: .5em 0;
}

img {
    width: 10%;
}

/* Create Todo */
#create-container {
    background-color: ghostwhite;
    height: auto;
    width: 33%;
    margin: 0 auto;
    padding: .5em;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
}

#create-container input, textarea {
    width: 80%;
}

/* Display Todos */
#show-container {
    background-color: ghostwhite;
    height: auto;
    width: 90%;
    margin: .5em auto;
    padding: 1em;
    border-radius: .5em;
}

#show-labels-container {
    padding: .5em;
    display: flex;
    justify-content: space-between;
}

.show-label {
    width: 20%;
}

.name {
    text-align: left;
}

.edit {
    text-align: right;
}

.todo-container {
    padding: .5em;
    display: flex;
    justify-content: space-between;
}

.todo-item {
    width: 20%;
}
